@font-face {
    font-family: Jost;
    src: url('../../fonts/Jost/Jost-Regular.ttf');
}
@font-face {
    font-family: Jost-Bold;
    src: url('../../fonts/Jost/Jost-Bold.ttf');
}
@font-face {
    font-family: Jost-Light;
    src: url('../../fonts/Jost/Jost-ExtraLight.ttf');
}
@font-face {
    font-family: Jost-Black;
    src: url('../../fonts/Jost/Jost-Black.ttf');
}